body {
	background-image:url("../images/brickwall.png");
	background-repeat:repeat;
	font-size: 1.1em;
	font-family: Times,Arial, "Helvetica Neue", Helvetica, sans-serif;
}
h1 {
	font: normal 2.3em Times;
	line-height: 1em;
	margin: 0.23em 0 0.23em !important;
	padding: 0;
}

h2 {
	font: normal 2em Times;
	line-height: 1em;
	margin: 0.23em 0 0.23em !important;
	padding: 0;
}

h3 {
	font: normal 1.8em Times;
	line-height: 1em;
	margin: 0.23em 0 0.23em !important;
	padding: 0;
}

h4 {
	font: normal 1.5em Times;
	line-height: 1em;
	margin: 0.23em 0 0.23em !important;
	padding: 0;
}

h5 {
	font: normal 1.2em Times;
	line-height: 1em;
	margin: 0.23em 0 0.23em !important;
	padding: 0;
}

.menu-list ul {
    font-family: Arial, Verdana;
    font-size: 15px;
    margin: 0;
    padding: 0;
    list-style: none;
}
.menu-list ul li {
    display: block;
    position: relative;
    float: left;
}
.menu-list li ul {
    display: none;
}
.menu-list ul li a {
    display: block;
    text-decoration: none;
    color: #ffffff;
    border-top: 1px solid #ffffff;
    padding: 5px 15px 5px 15px;
    background: #1e7c9a;
    margin-left: 1px;
    white-space: nowrap;
}
.menu-list ul li a:hover {
background: #3b3b3b;
}
.menu-list li:hover ul {
    display: block;
    position: absolute;
}
.menu-list li:hover li {
    float: none;
    font-size: 13px;
}
.menu-list li:hover a { background: #3b3b3b; }
.menu-list li:hover li a:hover {
    background: #1e7c9a;
}

a.menu-left{
	height:18px;
	width:50px;
}

a.menu-right{
	height:18px;
	width:120px;
}

div.wraper{
	width:1000px;
	height:auto; 
	margin:0 auto; 
	margin-top: 2px;
}

div.header{
	background-image:url("../images/header-sds-two.png");
	background-repeat:no-repeat;
	height:150px;
}
div.menu-list{
	height:30px;
	padding: 0 0 5 50;
}

div.content{
	min-height:400px;
	width: 600px;
	padding: 2 2 2 40;
}

div.footer{
	height:100px;
}

div.title{
	padding:50 0 0 20;
	font-size:40px;
}

div.slogan{
	padding: 0 0 10 50;
	font-size:20px;
}

div.footer-address{
	padding: 2 0 0 20;
	margin: 0 0 10 0;
	background-color: rgb(89,154,198);
	width: 498px;
	height: 100px;
	border-bottom-left-radius: 10px 10px;
	-moz-border-bottom-left-radius: 10px 10px;
}
div.footer-developer{
	padding: 2 0 0 20;
	margin: 0 0 10 2;
	background-color: rgb(89,154,198);
	width: 450px;
	height: 100px;
	border-bottom-right-radius: 10px 10px;
	-moz-border-bottom-right-radius: 10px 10px;
}

.left{
	float:left;
}
.clear{
	clear:both;
}
.footer p{
	-webkit-margin-before: 0.5em;
	-webkit-margin-after: 0.5em;
}
.auto-bio{
	height: 210px;
}

div.auto-picture{
	padding: 2 0 0 20;
	margin: 0 0 10 0;
	width: 210px;
	height: 205px;
}

div.auto-basic{
	padding: 30 0 0 20;
	margin: 0 0 10 0;
	width: 300px;
	height: 100px;
}

.text-indent{
	text-indent: 10px ;
}
.auto-details p{
	text-indent: 10px ;
}
.auto-basic p{
	-webkit-margin-before: 0.5em;
	-webkit-margin-after: 0.5em;
}
