ul {
    font-family: Arial, Verdana;
    font-size: 15px;
    margin: 0;
    padding: 0;
    list-style: none;
}
ul li {
    display: block;
    position: relative;
    float: left;
}
li ul {
    display: none;
}
ul li a {
    display: block;
    text-decoration: none;
    color: #ffffff;
    border-top: 1px solid #ffffff;
    padding: 5px 15px 5px 15px;
    background: #1e7c9a;
    margin-left: 1px;
    white-space: nowrap;
}
ul li a:hover {
background: #3b3b3b;
}
li:hover ul {
    display: block;
    position: absolute;
}
li:hover li {
    float: none;
    font-size: 11px;
}
li:hover a { background: #3b3b3b; }
li:hover li a:hover {
    background: #1e7c9a;
}

a.menu-left{
	height:17px;
	width:50px;
}

a.menu-right{
	height:17px;
	width:428px;
}

div.wraper{
	width:1000px;
	height:auto; 
	margin:0 auto; 
	margin-top: 2px;
}

div.header{
	background-image:url("../images/header-sds-two.png");
	background-repeat:no-repeat;
	height:200px;
}
div.menu-list{
	height:30px;
	padding: 0 0 5 0;
}

div.content{
	min-height:400px;
}

div.footer{
	height:100px;
}

div.title{
	padding:50 0 0 20;
	font-size:40px;
}

div.slogan{
	padding: 0 0 10 50;
	font-size:20px;
}

div.footer-address{
	padding:0 0 0 20;
}
div.footer-developer{
	padding:0 0 0 600;
}

.left{
	float:left;
}
