#footer {
min-height: 260px;
margin-top: 140px;
background-color: #252528;
color: #fff;
padding-top: 35px;
}

#footer .container{
	width: 940px;
}

#footer .info {
margin-bottom: 10px;
margin-left: 0;
}

#footer .credits {
border-top: 1px solid #343437;
padding: 10px 0px 60px 0px;
}

#footer .info .residence {
margin-left: 0;
}
#footer .info .touch {
float: right;
}

#footer .info ul {
margin: 0;
padding: 0;
}

#footer .info ul li {
list-style: none;
font-size: 16px;
color: #777E83;
line-height: 23px;
}

#footer .credits .social {
margin-top: 30px;
text-align: center;
}

#footer .credits .social a {
margin: 10px;
}

#footer .credits .social a span.ico1, #footer .credits .social a span.icoh {
background-position: 0px 0px;
}
#footer .credits .social a span {
display: inline-block;
width: 33px;
height: 33px;
}
#footer .credits .socialicons {
background: url("../../assets/img/socialicons.png") no-repeat;
width: 265px;
height: 36px;
}

#footer .credits .copyright {
color: #a6a6a7;
font-style: italic;
text-align: center;
margin-top: 30px;

font-size: 14px;
padding: None;
background: #252528;
border-top: None;
}

#footer .credits .social a span.ico2, #footer .credits .social a span.ico2h {
background-position: -37px 0px;
}

#footer .credits .social a span.ico3, #footer .credits .social a span.ico3h {
background-position: -75px 0px;
}

#footer .credits .social a span.ico4, #footer .credits .social a span.ico4h {
background-position: -112px -1px;
}

#footer .credits .social a span.ico5, #footer .credits .social a span.ico5h {
background-position: -151px 0px;
}

#footer .credits .social a span.ico6, #footer .credits .social a span.ico6h {
background-position: -188px -1px;
}

#footer .credits .social a span.ico7, #footer .credits .social a span.ico7h {
background-position: -226px 0px;
}

.main-container {
    min-height: 500px;
}

.container {
max-width: 970px !important;
}




